.containing {
  display: flex;
  flex-direction: column;

  display: flex;
  width: 100vw;
  align-items: center;
}

.titlu {
  align-self: center;
  color: #89909d;
  margin-bottom: 8vh;
  margin-top: 5vh;
  font-size: 5rem;
  font-family: "Lucida Sans Regular", sans-serif;
}

.tite-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.pagina {
  background-color: #111827;
}

.icon {
  color: #89909d;
  vertical-align: middle;
  font-size: 4rem;
  transition: transform 0.4s ease-out;
  &:hover {
    transform: translate(0, -5px);
    cursor: pointer;
    color: #47ea4e;
  }
}
.icon-div {
  text-align: center;
  margin-bottom: 5vh;
}

.image-container {
  display: flex;
  align-items: center;
  margin-top: 60vh;
  height: 100vh;
  width: 100%;
}

.icon2 {
  color: #89909d;
  vertical-align: middle;
  font-size: 4rem;
  transition: transform 0.4s ease-out;
  z-index: 100;
  &:hover {
    transform: translate(0, -5px);
    cursor: pointer;
    color: #47ea4e;
  }
}

.icon-div2 {
  text-align: center;
  margin-bottom: 5vh;
}

.spinner {
  text-align: center;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.banner-container {
  width: 100%;
}
.section {
  height: 90vh;
}
.page-title-holder::after {
  display: none;
}
.page-title-holder {
  visibility: hidden;
}
