.about-img {
  display: flex;
  max-height: 50rem;
  max-width: 30rem;
  float: right;
  padding: 5px;
  align-items: center;
  img {
    border-radius: 30em;
    padding: 5px;
  }
}
.about-img2 {
  display: flex;
  height: 25em;
  width: 100%;
  float: center;

  img {
  }
}
