.alteProiecte-container {
  display: flex;
}

.absec {
  display: flex;
  height: 100%;
  width: 100%;
  background-color:rgba(34, 21, 21, 0.658)
}
@media only screen and (max-width: 700px) {
  .absec {
    margin: 0px;
  }
  .alteProiecte-container {
  }
}
