.alteProiecte-container {
  display: flex;
  position:relative;
  padding:10px;
  z-index:1;
  margin-top:5rem;
  
}
.spatiu{
  display:flex;

}
.space{
  display:flex;
  
  margin-bottom:3rem;
}
.parteneri-container{
  display: flex;
  position:relative;
  padding:10px;
  z-index:1;
}
.main{
  margin:0rem !important;
}
.absec {
  display: flex;
  height: 100%;
  width: 100%;
  position:relative;
  background-color:rgba(34, 21, 21, 0.658)
}
  .downy{
    color:#ffaa00;
    font-size: 3.5rem;
    
  }
  .titlus{
    display:flex;
    flex-direction: column;
    height:auto;
    width:100%;
    background-color: red;
    
    margin-bottom:10em;
    
  }
  .sectionare{
    position: absolute;
    top:0;
    left:0;
    background-color:#f3dba1;
     box-shadow: 10px 10px 5px 5px rgba(0,0,0,0.5); 
    width:275px;
    display:inline-block;
    z-index:98;
    height:130px;
    

    &::after{
content: "";
width:0;
height:0;
border-style:solid;
border-width:130px 60px 0 0;
border-color:#f3dba1 transparent transparent transparent;
position:absolute;
top:0;
right:0;
transform:translateX(100%)
    }
  }
@media only screen and (max-width: 900px) {
  .absec {
    margin: 0px;
    a{
      position:absolute;
      left:26%;
      right:26%;
      
      bottom:0;
    }
    img{
      
      height:55vh;
    }
  }
  .sectionare{
    h1{
      font-size:2rem;
    }
  }

}
