.alteProiecte-container {
  display: flex;
}

.absec {
  display: flex;
  height: 100%;
  width: 100%;
  position:relative;
  background-color:rgba(34, 21, 21, 0.658)
}
.sectionare{
  h1{
    
  }
}
  .downy{
    color:#ffaa00;
    font-size: 3.5rem;
    
  }
@media only screen and (max-width: 900px) {
  .absec {
    margin: 0px;
    a{
      position:absolute;
      left:26%;
      right:26%;
      
      bottom:0;
    }
    img{
      
      height:55vh;
    }
  }
  .sectionare {
    border-radius: 0px;
    margin-top:0em;
    margin-bottom:0em;
     margin-left:0em;
    margin-right:0em;
  }
}
