@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
*{
    font-family: 'Raleway', sans-serif;
}
 
 .contain{
    display: flex;
     justify-content: center;
    align-items: center;
    padding-top: 3rem;
}


.apartament{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;

}

.produs {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: left;
}

.fler {
 display: flex;
 justify-content: space-between;
 flex-direction: row; 
 padding: 3rem 2.5rem;
 margin-bottom: 4rem;
 background-color: rgba(236, 236, 236, 0.938);
 box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.2);
 button {
    background-color: #ffffff;
    color: rgb(8, 8, 8);
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 10px 10px 13px rgba(0,0,0,0.20);
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 1.2rem;
    padding: 1rem 2rem;
   
  }

button:hover{
      color: #fdf9f9;
      background-color: #c73333;
     transition: .3s;
      
    
}
}

.info-apartament{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 40%;
    padding-left: 2rem;
    padding-right:2rem;
}
.info-apartament h1{
    font-size: 2rem;
    color: rgb(80, 79, 79);
    text-transform: uppercase;
    border-bottom: 1px dotted rgb(80, 79, 79);
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 2rem;
    color: #313131;
}
.info-apartament h4{
    font-size: 2rem;
    color: rgb(80, 79, 79);
}
.info-apartament h8{
    font-size: 1.3rem;
    color: rgb(126, 123, 123);
}
.info-apartament p{
    font-size: 1.3rem;
    color: rgb(80, 79, 79);
}
.firstt{
    margin-top:2.5rem;
}

.wapp-button{
    display: flex;
    align-items:center;
    justify-content:center;
}

.imagine{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    border-radius: 2rem;
    box-shadow: 10px 10px 13px rgba(0,0,0,0.20);
}
.imagine img{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}

.imagine img:hover{
    scale:1;
    transition: 2100ms ease-in-out;
    border-radius: 2rem;
}

/*  Button custom to ADD! */


/* Plan detaliat text + poza mare */
.plan-detaliat{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.plan-detaliat img{
    width: 80%;
    height:80%;
}

.plan-detaliat h1{
    width: 40%;
    margin-bottom: 2rem;
    border-bottom: 1px dotted #030303;
    color: rgb(24, 24, 24);
}


@media only screen and (max-width: 1130px) {
    .imagine img {
         height: 100%;
         width: 100%;
     } 
     .plan-detaliat{
      width: 100%;
     }
     .plan-detaliat img{
        width: 100%;
        height:100%;
      }


}

@media only screen and (max-width: 995px){
    .apartament{
        display: flex;
        justify-content:center;
        flex-direction:column;        padding: 0;
    }
    .fler{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width:100%;
        padding: 2rem;
        
    }
      .imagine{
          width:100%;
          margin-top: 3rem;
      }
    .imagine img {
         height: 100%;
         width:100%;
         padding-right: 4rem;
         

     }
    .plan-detaliat{
      width: 100%;
     }
     .plan-detaliat img{
        width: 100%;
        height:100%;
      }

      .info-apartament{
          display: flex;
          justify-content:center;
          flex-direction:column;
          width:100%;  
          margin-bottom: 2rem; 
      }
      .info-apartament h8{
          padding-right: 2.5rem;  
      }
  
}

@media only screen and (max-width: 655px){
    


    .info-apartament{
          padding: 2rem;
      }
      .plan-detaliat h1{
          font-size:1.5rem;
      }

      .plan-detaliat img{
          width: 100vw;
      }
}


@media only screen and (max-width: 450px){
     .info-apartament p{
        font-size: 1.3rem;
        width: 80%;
    }

    .info-apartament h4{
        font-size: 1.5rem;
        margin-right: 4rem;
        
    }
     .info-apartament h8{
        font-size: 1.2rem;
        width: 80vw;
        margin-right: 2rem;
        
    }
    .info-apartament h1{
        font-size: 1.5rem;
        text-align: left;
         margin: 0;
         margin-right: 3rem;
    }
    .info-apartament{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        width: 100%;
    }

};
