.apartament-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;

  &:hover {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  }

  h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 8px;
  }
  a {
    text-decoration: none;
    cursor: pointer;
  }
}

.apartament {
  display: flex;

  height: 100%;
  align-items: flex-start;
  text-align: left;
  flex-direction: column;
  padding: 100px;
  h1 {
    color: grey;
  }
}
.back-cont {
  background: url("../../images/decor/9.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  width: 100%;
  height: 7em;
}
.produs {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  text-align: left;
}
.fler {
  width: 50%;
  button {
    background-color: #c75a5a;
    color: #fff;
    height: 3rem;
    cursor: pointer;
    width: 7rem;
    border-radius: 1px;
    &:hover {
      color: #c76767;
      background-color: #c73333;
    }
  }
}
.imagine {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
  img {
    width: 35rem;
    height: 27rem;
  }
}

.butonus {
  left: 0;
  top: 0;
}

@media only screen and (max-width: 800px) {
  .apartament-preview {
    padding: 0px;
    margin: 0px 0px;
    border-bottom: 1px solid #fafafa;
  }
  .apartament {
    padding: 0px;
    margin: 0px;
  }
  .imagine {
    width: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }
  .produs {
    display: flex;
    flex-direction: column;
  }
  .fler {
    width: 100%;
  }
  .back-cont {
    align-self: center;
    a {
      right: 0px;
      height: 50px;
      align-self: center;
    }
    button {
      border-radius: 100%;
      height: 100%;
      background-color: #c75a5a;
    }
  }
}
