.fa-arrow-right {
  display: none;
}
.fa-arrow-left {
  display: none;
}

.slider-left {
  display: none !important;
}
.slider-right {
  display: none !important;
}
.react-3d-carousel .slider-container .slider-right div {
  border: none;
  cursor: default;
}
.react-3d-carousel .slider-container .slider-left div {
  border: none;
  cursor: default;
}
.react-3d-carousel .slider-container .slider-right {
  cursor: default;
}
.react-3d-carousel .slider-container .slider-left {
  cursor: default;
}

.services-section {
  display: flex;
  width: 100%;
  height: 180px;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.services-section {
  background-color: white;
}

.backy {
  background-color: white !important;
}
.content-wrapper {
  width: 50%;
}
@media only screen and (max-width: 800px) {
  .services-section {
    height: 30vh;
    margin-bottom: 20px;
  }
  .content-wrapper {
    width: 100%;
  }
}
