@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:wght@100;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*{
    margin: 0;
    border: 0;
    box-sizing: content-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    margin-top: 4rem;
    height:100vh;
    width: 100vw;
    padding-top: 3rem;
    padding-bottom: 10rem;
    
    
}

.big-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 5rem;
    margin-bottom: 1rem;

}

.big-box2{
   display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin-bottom: 3rem;
    margin-right: 1rem;
    padding: 2rem 5rem;
    
    
    
}

.style-boxing-1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
    margin-right: 1rem;
    border-radius: 50%;
    
}

.style-boxing-1 img{
     width: 200px;
    height:200px;
    border-radius: 50%;
    
}



.style-boxing-2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 50%;
    margin-right: 1rem;
    
}

.box-1, .box-2, .box-3, .box-4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin-right: 2rem;
    background-color: rgba(236, 236, 236, 0.938);
    border-radius:10px;
    box-shadow: 10px 14px 10px rgba(0, 0, 0, 0.25);
    
    
         
}
.text{
  font-family: 'Poppins', sans-serif;
  color: rgb(148, 143, 143);
  display: flex;
  align-items: flex-start;
  text-align: left;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 5px 8px 8px 6px rgba(199, 196, 196, 0.25);
   
}

.title-parteneri{
    font-family: 'Raleway', sans-serif;
    font-size:2.8rem;
    padding-bottom: 2rem;
    letter-spacing: 1.5px;
    color: rgba(31, 30, 30, 0.938);
    padding-bottom: 3rem;
    
}

.header-text{
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    color: #1b1b1b;
    font-family: 'Raleway', sans-serif;
    
}
@media only screen and (max-width: 1300px) {
     .container{
         height: 100%;
         padding-bottom: 2rem;
     } 


}

@media only screen and (max-width: 1100px) {
  .container {
      height: 100%;
      display: flex;
      flex-direction: column;
       padding-bottom: 2rem;
   
  }
  .style-boxing-2{
      width: 40vw;
      height: 80%;
    
  }
  .box-1, .box-2, .box-3, .box-4{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 2rem;
      
  }
  .text{
      font-size: 20px;
  }

  .style-boxing-1-half img{
    width: 80%;
    height:80%;
    border-radius: 50%;
    
}
}


@media only screen and (max-width: 630px) {
  .container {
      display: flex;
      flex-direction: column;
       padding-bottom: 2rem;
   
  }
   .title-parteneri{
       margin-bottom: 2rem; 
   }

  .big-box, .big-box2{
      display: flex;
      flex-direction: column;
       padding-bottom: 2rem;

  }
  
  .box-2, .box-4{
      display: flex;
      flex-direction: column;
      font-size: 2rem;
      width: 100vw;
      padding-bottom: 4rem;
      
      padding-top: 1.5rem;
  }
  .box-1,  .box-3{
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      font-size: 2rem;
      width: 100vw;
      padding-bottom: 4rem;
      margin-bottom: 2rem;
      padding-top: 1.5rem;
  }
  .style-boxing-2{
      width: 100vw;
      height: 80%;
    
  }
  .text{
      padding-left: 4rem;
      box-shadow: none;
  }

@media only screen and (max-width: 600px) {
     .container{
         height: 100%;
         padding-left: 1rem;
     } 
    .big-box{
         display: flex;
          justify-content: center;
        align-items: center;
         flex-direction: column;
         text-align: center;
     }
    .big-box2{
        display: flex;
        justify-content: center;
        align-items: center;
         flex-direction: column;
         padding-bottom: 0.2rem;
    }
   .box-2, .box-4{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 1rem;
      width: 100vw;
      padding-top: 1.5rem;
  }

  .box-1, .box-3{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 1rem;
      width: 100vw;
      margin-bottom: 2rem;
      padding-top: 1.5rem;
  }
  .text{
      box-shadow: none;
  }
}

}




//  "977,943,164,1017" 
//  "970,939,150,868" 
//  "972,866,150,786" 
//  "970,785,150,715" 
//  "970,713,148,639" 
//  "972,639,150,561" 
//  "973,561,147,493" 
//  "972,490,147,398" 
//  "972,399,148,295" 


//  "1755,1014,975,939" 
//  "972,868,1776,937" 
//  "975,790,1776,866" 
//  "973,715,1778,792" 
//  "972,639,1776,715" 
//  "973,561,1776,639" 
//  "972,490,1776,561" 
//  "975,399,1779,490" 
//  "975,295,1776,403" 
