.butonus {
 
 display: block;
 float:right;
 float:top;
 background-color: rgba(172, 172, 172, 0.207);
 margin-right:200px
 


}
._2c50p{
  overflow: visible !important;
  
  margin:50px !important;
  height:8rem !important;
 
}
 ._3q7r8{
    background-color: transparent !important;
    
  }
  ._-LJ2W{
    height:auto !important ;
  }
  .child{
    height:100vh;
   
  }
  ._3iVQ0{
    width:70% !important;
    
    top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  }
   ._2qwzr{
    overflow:visible !important;
  }
.__JnHV{
    background-color: transparent !important;
    
  }
 ._Pfcmb{
   height:100vh !important;
 }
.but{
  display:flex;
  height:4em;
  align-items: flex-end;
  justify-content: flex-end;
}
 .gal-cont{
   height:27rem;
    h1{
      margin-bottom: 0;
    }ul{
      margin-top: 3rem;
    }
  }
.stil {
  position: fixed;
    width:100%;
     height:auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  padding: 20em;
  z-index: 10000;
  max-height: 100vh;
  overflow-y: auto;
  display:flex;
  flex-direction:column;
 
}

.overlay {
  position: fixed;
  left:0;
  top:0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.7);
}

.outer {
  position: relative;
  
  margin: auto;
  width: 1.4em;
  margin-top: 10px;
  cursor: pointer;
 
}

.inner {
  left:0;
  top:0;
  width: inherit;
  text-align: center;
  background-color: rgba(172, 172, 172, 0.207);
  label {
  font-size: 0.8em;
  line-height: 4em;
  text-transform: uppercase;
  color: rgb(7, 7, 7);
  transition: all 0.3s ease-in;
  opacity: 0;
  cursor: pointer;
  
}
}


.inner:before,
.inner:after {
  position: absolute;
  content: "";
  height: 1px;
  width: inherit;
  background: #e6decb;
  left: 0;
  transition: all 0.3s ease-in;
  
}

.inner:before {
  top: 50%;
  transform: rotate(45deg);
}

.inner:after {
  bottom: 50%;
  transform: rotate(-45deg);
}

.outer:hover label {
  background-color: rgba(172, 172, 172, 0.207);
  opacity: 1;
}

.outer:hover .inner:before,
.outer:hover .inner:after {
  transform: rotate(0);
}

.outer:hover .inner:before {
  top: 0;
}

.outer:hover .inner:after {
  bottom: 0;
}

@media only screen and (max-width: 850px) {
 
  ._3q7r8{
    
    height:70vh !important;
  }
 
 
  .gal-cont{
    h1{
      margin-bottom: 0;
    }ul{
      margin-top: 1.3rem;
    }
  }
._-cAh3{
  max-width: 100% !important;
  width:100% !important;
}
  ._2c50p{

  img{
    height:5rem;
    width:100%;
  }
}
.butonus{
  margin-right:0px
}
 


 
 
}
