
.modstg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blueviolet;
  h1 {
  color: brown;
  text-align: center;
}
}
#container {
  width: 100%;
}

.parent {
  width: 100%;
}
