h1 {
  color: brown;
  text-align: center;
}
.modstg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blueviolet;
}
#container {
  position: absolute;
  width: 100%;
}
