.butoni {
  position: absolute;
  height: auto;
  top: 0;
  left: 0;
}

.stil {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 50px;
  z-index: 10000;
  max-height: 100vh;
  overflow-y: auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.7);
}

.outer {
  position: relative;
  margin: auto;
  width: 3em;
  margin-top: 60px;
  cursor: pointer;
}

.inner {
  width: inherit;
  text-align: center;
}
label {
  font-size: 0.8em;
  line-height: 4em;
  text-transform: uppercase;
  color: rgb(7, 7, 7);
  transition: all 0.3s ease-in;
  opacity: 0;
  cursor: pointer;
}

.inner:before,
.inner:after {
  position: absolute;
  content: "";
  height: 1px;
  width: inherit;
  background: #ffc107;
  left: 0;
  transition: all 0.3s ease-in;
}

.inner:before {
  top: 50%;
  transform: rotate(45deg);
}

.inner:after {
  bottom: 50%;
  transform: rotate(-45deg);
}

.outer:hover label {
  opacity: 1;
}

.outer:hover .inner:before,
.outer:hover .inner:after {
  transform: rotate(0);
}

.outer:hover .inner:before {
  top: 0;
}

.outer:hover .inner:after {
  bottom: 0;
}

@media only screen and (max-width: 700px) {
  .butoni {
    transform: translateX(110px);
  }
  .outer {
    width: 3em;
  }
}
