.colored {
  background-color:rgba(7, 100, 167, 0.858);;
  border-radius: 2rem;
  color: #f2dada;
  padding: 1.4rem;
  border: 1px solid rgba(7, 100, 167, 0.858);;
  cursor: pointer;
  height: 100%;
  width: 5rem;
  &:hover {
    color: #c75a5a;
    background-color: rgba(199, 90, 90, 0);
  }
  @media only screen and (max-width: 600px) {
    padding: 0.4rem;
  }
}
