.contact-container {
  display: flex;
  flex-direction: column;
  transform: translateY(8em);
}
.distance {
  display: flex;
  height: 8em;

  width: 100vw;
}
.left-right-container {
  height: fit-content;
  display: flex;
  flex-direction: row;
}
.left-contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  height: 50vh;
  padding: 50px;

  h2 {
    font-size: 60px;
    line-height: 1;
    font-weight: 900;
    color: black;
  }
}
.right-contact {
  width: 100%;
  height: 20vh;
}
.social-cont {
  padding: 1.5em;
}
.social-cont > a {
  color: black;

  font-size: 30px;
  margin: 15px;

  &:hover {
    color: #c75a5a;
    opacity: 0.6;
  }
}

.frame-container {
  margin-top: 5px;
  padding: 100px;
}
