.lot-cont {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: yellow;
  height: 200px;
  width: 100%;
}

.social {
  align-self: center;
  width: 100%;
}
.social2 {
  align-self: center;
  height: 150px;
  width: 100%;
}
.contact-container {
  margin-bottom: 35rem;
}
